{% extends 'base.html.twig' %}

{% block title %}Liste des voitures{% endblock %}

{% block monTitre %}Liste des voitures{% endblock %}

{% block body %}


{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}
<style>
    .add{
        margin-left: -12px;
        margin-bottom: 10px;
    }
    .colbtn {
        -ms-flex: 1 0 0%;
        flex: 0.4 0 0%;
    }
    .boutons{
        padding-bottom: 25px;
        margin-left: auto;
        margin-right: auto;
    }
    .pad{
         padding-bottom: 200px;
    }

</style>
{{ form_start(form) }}
<div class="row no-gutters align-item-center text-center">
    <div class="col">
        {{ form_row(form.minAnnee) }}
    </div>
    <div class="col">
        {{ form_row(form.maxAnnee) }}
    </div> 
    <div class="col-2">
        <input type="submit" value="rechercher" class="search btn btn-primary">
    </div>  
</div>
{{ form_end(form) }}
{% if admin %}
    <a href=" {{ path('creationVoiture') }} " class="add search btn btn-primary">Ajouter</a>
{% endif %}
<div class="row no-gutters">
    {% for voiture in voitures %}
        <div class="col-12 col-lg-6 p-1">
           <div class="card mb-3">
                <div class="row no-gutters align-center p-2">
                    <div class="col-12 col-md-4">
                        <img src="{{ asset('images/'~ voiture.modele.image)}}" class="card-img">
                    </div>
                    <div class="col">
                        <div class="card-body">
                            <h5 class="card-title">IMMAT : {{ voiture.immatriculation }}</h5>
                            <p class="card-text">
                                <div>Marque : {{ voiture.modele.marque.libelle}}</div>
                                <div>Modele : {{ voiture.modele.libelle }} - PM : {{ voiture.modele.prixMoyen }} </div>
                                <div>Nombre de postes : {{ voiture.nbPortes }} </div>
                                <div>Année : {{ voiture.annee }} </div>
                            </p>
                        </div>
                    </div>
                </div>
                {% if admin %}
                    <div class="row no-gutters boutons">
                        <a href="{{ path('modifVoiture', {'id' : voiture.id}) }}" class="colbtn btn btn-warning">Modifier</a>
                        <form method="post" class="col" action="{{ path('supVoiture', {'id':voiture.id})}}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer ?');">
                            <input type="hidden" name="_method" value="SUP">
                            <input type="hidden" name="_token" value="{{ csrf_token('SUP' ~ voiture.id) }}">
                            <input type="submit" class="btn btn-danger w-100" value="supprimer">
                        </form>
                    </div>
                {% endif %} 
           </div> 
        </div>   
    {% endfor %}
</div>
<div class="navigation pad">
    {{ knp_pagination_render(voitures) }}
</div>

{% endblock %}
